:root {
    --main-shade1: #b2d8d8;
    --main-shade2: #66b2b2;
    --main-shade3: #008080;
    --main-shade4: #006666;
    --main-shade5: #004c4c;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.zahlavi {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: var(--main-shade3);
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;

    z-index: 100000;
    box-shadow: inset 0 -6px 6px -6px black;

}

.zahlavi ul {
    list-style: none;
    margin: 10px;
    padding: 15px;
    display: flex;
    gap: 20px;
}

.zahlavi ul li {
    background-color: var(--main-shade1);
    border-radius: 10px;
    width: 80px;
    font-size: larger;
    padding: 5px;
    transition: 0.5s;
}

.zahlavi ul li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    padding: 10px;
}

.zahlavi ul li:hover {
    background-color: var(--main-shade4);
    transform: scale(0.5s);
    transition: 0.5s;
}

.zahlavi ul li a:hover {
    color: white;
    transition: 0.5s;
}

h1 {
    color: var(--main-dark-green);
}

.uvod {
    background-image: linear-gradient(to bottom, var(--main-shade5) 0%, var(--main-shade4) 100%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.projekty_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 6rem;

}

.projekty {
    background-image: linear-gradient(to bottom, var(--main-shade4) 0%, var(--main-shade2) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.projekt {
    background-image: linear-gradient(to top, var(--main-shade4) 0%, var(--main-shade3) 20%);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.obrazek_projekty {
    object-fit: cover;
    height: calc(100% - 9.8rem);
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.nadpis_projektu {
    font-size: 1.5rem;
    padding: 2rem 0.5rem;
}