:root {
    --main-shade1: #b2d8d8;
    --main-shade2: #66b2b2;
    --main-shade3: #008080;
    --main-shade4: #006666;
    --main-shade5: #004c4c;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.zahlavi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: var(--main-shade3);
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;

    z-index: 100000;
    box-shadow: inset 0 -6px 6px -6px black;

}

.zahlavi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.zahlavi ul li {
    background-color: var(--main-shade1);
    border-radius: 10px;
    width: 80px;
    font-size: larger;
    padding: 5px;
    transition: 0.5s;
}

.zahlavi ul li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-family: "Oswald", sans-serif;

    width: 100%;
    height: 100%;
}

.zahlavi ul li:hover {
    background-color: var(--main-shade4);
    transform: scale(1.1);
    transition: 0.3s;
}

.zahlavi ul li:hover a {
    color: white;
}

.N {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.uvod {
    background-image: linear-gradient(to bottom, var(--main-shade5) 0%, var(--main-shade4) 100%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.uvod_nadpis {
    font-size: 5rem;
    font-family: "Teko", sans-serif;
    margin: 0;
    color: var(--main-shade1);

    text-shadow: 2px 2px 50px;
}

.uvod_podnadpis {
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    margin: 0;
    color: var(--main-shade2);

    text-shadow: 2px 2px 10px;

}

.projekty_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    max-width: 1080px;
    margin: 0 auto;
}

.projekty {
    background-image: linear-gradient(to bottom, var(--main-shade4) 0%, var(--main-shade2) 100%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 4rem;
}

.projekty_nadpis {
    font-size: 6rem;
    font-family: "Teko", sans-serif;
    margin: 4rem 0 2rem 0;
    margin-bottom: 6rem;
    color: var(--main-shade5);

    text-shadow: 2px 2px 50px whitesmoke;
}

.slunicko {
    color: var(--main-shade4);
    transition: 0.3s ease-out;
    text-shadow: none;
}

.projekt:hover .slunicko {
    color: rgb(255, 204, 0);
    transition: 0.3s ease-out;

}

.projekt {
    background-color: var(--main-shade4);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.obrazek_projekty {
    object-fit: cover;
    height: calc(100% - 9.8rem);
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
}

.ramecek {
    width: 100%;
    height: calc(100% - 9.8rem);
    overflow: hidden;
}

.ramecek img {
    position: relative;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
    transition: 0.5s ease;
}

.ramecek:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: 0.5s ease;
}


.nadpis_projektu {
    font-size: 35px;
    padding: 14px 0;
    font-family: "Teko", sans-serif;

    text-shadow: 2px 2px 8px whitesmoke;
}

.kontakt {
    background-image: linear-gradient(to bottom, var(--main-shade2) 0%, var(--main-shade1) 100%);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.kontakty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;

}

.kontakt_nadpis {
    font-size: 3rem;
    font-family: "Teko", sans-serif;
    color: var(--main-shade5);

    text-shadow: 2px 2px 8px;
}

.kontakt_ikonka {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    margin: 0;
    color: var(--main-shade4);
    transition: 0.3s;
    text-decoration: none;

    text-shadow: 2px 2px 15px;
}

.kontakt_ikonka a {
    text-decoration: none;
    color: var(--main-shade4);
    transition: 0.3s;

}

.kontakt_ikonka:hover {
    transform: rotate(5deg);
    transition: 0.3s;
}

footer {
    background-color: var(--main-shade2);
    border-top: 5px solid var(--main-shade5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.validace {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    font-weight: bold;
    font-size: medium;
    margin: 15px 25px;
    font-family: "Oswald", sans-serif;
    color: var(--main-shade5);
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 28.75em) {
    .zahlavi {
        display: flex;
        justify-content: center;
    }

    .zahlavi ul {
        margin: 0 1rem;
        margin-left: 4rem;
    }

    .zahlavi ul li {
        width: fit-content;
    }

    .zahlavi ul li a {
        font-size: 2rem;
    }

    .projekty_grid {
        grid-template-columns: 1fr;
    }

    .nadpis_projektu {
        margin: 0;
    }

    footer {
        display: block;
        margin: 0;
        padding: 0;
    }

    footer p {
        margin: 0;
    }

    .validace {
        margin-top: 5px;
        display: block;
    }
}

@media (max-width: 900px) {
    .zahlavi ul li a {
        font-size: 2.5rem;
    }

    .uvod_nadpis {
        font-size: 7rem;
    }

    .uvod_podnadpis {
        font-size: 5rem;
    }

    .projekty_nadpis {
        font-size: 9rem;
        margin: 70px;
    }

    .projekty_grid {
        grid-template-columns: 1fr;
    }

    .projekt {
        width: 80%;
    }

    .nadpis_projektu {
        font-size: 5rem;
        margin: 0;
    }

    .obrazek_projekty {}


}