body {
    text-align: center;
    background-image: url(les_background.jpg);
    background-size: cover;
}

div.story[lang="cs"] {
    display: none;
}

html[lang="cs"] div.story[lang="en"] {
    display: none;
}

html[lang="cs"] div.story[lang="cs"] {
    display: block;
}

h1 {
    margin-top: 100px;
    text-align: center;
    background-color: black;
    color: burlywood;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-size: 70px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    background-color: rosybrown;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.uvodni_foto {
    width: 100%;
    max-width: fit-content;

    border-radius: 40px;
    margin: 100px auto;
    margin-top: 5%;
    transition: 0.5s;

    animation: duhaAnimation 5s infinite;
}


.uvodni_foto:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 5px 50px yellow;
}

.fotos,
.fotos img {
    width: 70%;
    max-width: none;
    margin: 100px auto;
    border-radius: 40px;

}


.videoList {
    display: inline-block;
    font-size: large;
    border-radius: 10px;
    margin-top: 45px;
    text-align: center;
    background-color: rgb(1, 118, 20);
    padding: 20px;
}

.videoList li {
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    background-color: rgb(65, 166, 221);
    border-radius: 10px;
}

.videoList li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.videoList li a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.zahlavi {
    padding: 10px;
    list-style-type: none;

    margin: auto;
    background-color: rosybrown;
    max-width: fit-content;
    width: 100%;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    top: 0;

}

.zahlavi ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.zahlavi ul li {
    background-color: rgb(163, 106, 106);

    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: larger;
    border-radius: 10px;
    transition: 0.5s;
}

.zahlavi ul li a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.5s;
    padding: 14px 16px;
}

.zahlavi ul li:hover {
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: rgb(21, 171, 21);

}

.jazyky {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.fi {
    font-size: 40px;
    border-radius: 10px;
    border: 2px black solid;
}

.zahlavi_zarovnani {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.zahlavi ul li :hover a {
    color: white;
}

.zahlavi ul li a.active {
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;

}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    width: 100%;
    max-width: 600px;

    margin: 100px auto;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.521);
    transition: 0.5s;
}

.videos iframe {
    width: 550px;
    border: none;
    border-radius: 20px;
}

.videos:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 50px yellow;
}

button {
    display: block;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    background-color: rgb(163, 106, 106);

}

button:hover {
    background-color: green;
    transition: 0.2s;
}

button.active {
    background-color: red;
}

.zapati {
    background-color: rgb(6, 117, 39);
    color: white;
    margin-top: 150px;
    border-radius: 15px;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.zapati li {
    background-color: brown;
    list-style-type: none;

    border-radius: 5px;
    margin: 5px;

    font-size: larger;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.validace {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;

}

.zapati_zarovnani {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
}

.validate {
    background-color: rgb(20, 75, 13);
    transition: 0.5s;
}


.validate a {
    text-decoration: none;
    color: white;
}

.validate:hover {
    background-color: red;
    transform: scale(1.1);
    transition: 0.5s;
}

h4 {
    text-align: left;
    font-size: 20px;
}

.form-label {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 8px;
    margin: 3px;
}

.form-control {
    background-color: rgb(89, 141, 94);
    border-radius: 5px;
    border: 0;
    box-shadow: 3px 3px rgb(2, 97, 10);
}

.btn {
    width: 175px;
    margin-top: 10px;
    background-color: rgb(1, 63, 7);
    color: white;
}

.btn:hover {
    background-color: red;
}

.zapati .formy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.validate button {
    background-color: darkgreen;
    width: auto;
    height: 30px;
    margin: 50px auto;
    transition: 1.1s;
}

.validate button a {
    text-decoration: none;
    color: white;
}

.validate button:hover {
    background-color: red;
    transform: scale(1.1);
    transition: 1.1s;
}

.zapati .registrace {
    margin-right: 50px;
    font-family: 'Oswald', sans-serif;
    align-items: flex-end;
}

.fa-envelope {
    color: rgb(21, 43, 14);
}

.fa-key {
    color: rgb(21, 43, 14);
}

.w3c {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes duhaAnimation {
    0% {
        box-shadow: 5px 5px 50px red;
    }

    25% {
        box-shadow: 5px 5px 50px yellow;
    }

    50% {
        box-shadow: 5px 5px 50px blue;
    }

    75% {
        box-shadow: 5px 5px 50px green;
    }

    100% {
        box-shadow: 5px 5px 50px red;
    }
}

@media(max-width: 500px) {
    body {
        background-image: url(Selsky_les.jpg);
    }

    #smartphone {
        display: block;
    }

    .videos {
        width: 210px;
    }

    .videos iframe {
        width: auto;
    }


    .zahlavi ul li a span {
        display: none;
    }

    .zapati {
        display: flex;
        flex-wrap: wrap;
    }

    .zapati ul {
        display: flex;
        align-items: center;
        flex-direction: column;

        margin: auto;
        padding: 15px;
    }

    .zapati ul li {
        width: 200px;
    }

    .validate {
        width: 200px;
        margin-top: 3px
    }

    .formy {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-right: 60px;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}